#main, footer {
    text-align: center;
}

.panel-group {
  margin-top: 40px;
}
footer {
    margin:40px 0;
}

table {
    margin:10px auto;
}

td {
    padding:5px;
    text-align: left;
}

#full-width {
  width: 100%;
}

#brand {
  height: 54px;
  width: 54px;
  float: left;
  margin-top: 5px;
}

h3 {
  color: #777;
}

.panel-title {
  color: #222236;
}

#footer-icon {
  height: 20px;
  width: 20px;
}

footer {
  margin: 0;
  padding: 20px 0;
  background-color: #F5F5F5;
  border-top: thin solid #DDD;
}
