#main, footer {
    text-align: center;
}

footer {
    margin:40px 0;
}

table {
    margin:10px auto;
}

td {
    padding:5px;
    text-align: left;
}

#full-width {
  width: 100%;
}

#brand {
  height: 54px;
  width: 54px;
  float: left;
  margin-top: 5px;
}

h3 {
  color: #777;
}
